<header id="branding">
  <img src="http://about.itriagehealth.com/wp-content/uploads/2012/10/itriage-logo1.png" alt="Medical Help Finder" id="logo" />
</header>

<section id="facility_finder">
  <section id="search">
    <h5>Find Medical Help Near You</h5>
    <form id="search_form">

      <section>
        <label for="location" class="main">Showing availability within
          <a href="#adv_search" class="inline"><span id="searchradius">15</span> miles</a> of:<br /><span id="searchloc"></span></label>
        <input type="text" name="location" id="location" placeholder="Enter a new address or zipcode" /><input type="image" src="images/search.png" name="go" id="go" onclick="_gaq.push(['_trackEvent', 'Search Location', 'Location', this.form.location.value]);" />
      </section>

      <section>
        <label for="medical-facilities" class="main">Medical Facilities:</label>
        <ul id="allmf">
          <li><input type="checkbox" name="mfs" value="1" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Emergency Department']);"/><label><a href="#emergency-department" class="inline">Emergency Department</a></label></li>
          <li><input type="checkbox" name="mfs" value="2" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Urgent Care']);"/><label><a href="#urgent-care" class="inline">Urgent Care</a></label></li>
          <li><input type="checkbox" name="mfs" value="3" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Retail Clinic']);"/><label><a href="#retail-clinic" class="inline">Retail Clinic</a></label></li>
          <li><input type="checkbox" name="mfs" value="5" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Pharmacy']);"/><label><a href="#pharmacy" class="inline">Pharmacy</a></label></li>
          <li><input type="checkbox" name="mfs" value="7" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Outpatient Clinic']);"/><label><a href="#outpatient-clinic" class="inline">Outpatient Clinic</a></label></li>
          <li><input type="checkbox" name="mfs" value="12" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Home Health Care']);"/><label><a href="#home-health-care" class="inline">Home Health Care</a></label></li>
          <li><input type="checkbox" name="mfs" value="6" class="vc" onclick="_gaq.push(['_trackEvent', 'Search', 'Community Health Centers']);"/><label><a href="#community-health-centers" class="inline">Community Health Centers</a></label></li>
        </ul>
      </section>

    </form>
  </section><!--search-->

  <div class="hide">
    <section id="adv_search">
      <h1>Search Settings</h1>
      <section id="radius">
        <p>Search area:
          <select id="search_radius">
            <option>5</option>
            <option>10</option>
            <option selected>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
          </select> miles</p>
      </section>
    </section><!--adv_search-->
  </div>

  <div id="map_canvas">
  </div>

</section><!--facility_finder-->

<section id="list_view">
</section>
<section id="close_list">
  &#9650;
</section>
<section id="show_list">
  &#9660;
</section>

<footer id="footer">
  <div class="l">
    <p>Powered by <!--iTriage--> <a class="nb" href="http://www.itriagehealth.com">iTriage</a></p>
  </div>

  <div class="r">
    <p>Showing availability for <strong>40,000+</strong> locations.</p>
  </div>
</footer>