<header id="branding">
  <img src="http://about.itriagehealth.com/wp-content/uploads/2012/10/itriage-logo1.png" alt="Medical Help Finder" id="logo" />
</header>

<section id="facility_finder">
  <section id="search">
    <h5>Find Medical Help Near You</h5>
    <form id="search_form">

      <section>
        <label for="location" class="main">Showing availability within
          <a href="#adv_search" class="inline"><span id="searchradius">15</span> miles</a> of:<br /><span id="searchloc"></span></label>
        <input type="text" name="location" id="location" placeholder="Enter a new address or zipcode" /><input type="image" src="images/search.png" name="go" id="go" onclick="_gaq.push(['_trackEvent', 'Search Location', 'Location', this.form.location.value]);" />
      </section>

      <section>
        <label for="medical-facilities" class="main">Medical Facilities:</label>
        <ul id="allmf">
          <li><input type="radio" name="mfs" value="1" class="vc" id="radio-emergency-department" checked="checked" /><label for="radio-emergency-department">Emergency Department</label></li>
          <li><input type="radio" name="mfs" value="2" class="vc" id="radio-urgent-care" /><label for="radio-urgent-care">Urgent Care</label></li>
          <li><input type="radio" name="mfs" value="3" class="vc" id="radio-retail-clinic" /><label for="radio-retail-clinic">Retail Clinic</label></li>
          <li><input type="radio" name="mfs" value="5" class="vc" id="radio-pharmacy" /><label for="radio-pharmacy">Pharmacy</label></li>
          <li><input type="radio" name="mfs" value="7" class="vc" id="radio-outpatient-clinic" /><label for="radio-outpatient-clinic">Outpatient Clinic</label></li>
          <li><input type="radio" name="mfs" value="12" class="vc" id="radio-home-health-care" /><label for="radio-home-health-care">Home Health Care</label></li>
          <li><input type="radio" name="mfs" value="6" class="vc" id="radio-community-health-centers" /><label for="radio-community-health-centers">Community Health Centers</label></li>
        </ul>
      </section>

    </form>
  </section><!--search-->

  <div class="hide">
    <section id="adv_search">
      <h1>Search Settings</h1>
      <section id="radius">
        <p>Search area:
          <select id="search_radius">
            <option>5</option>
            <option>10</option>
            <option selected>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
          </select> miles</p>
      </section>
    </section><!--adv_search-->
  </div>

  <section id="list_view">
  </section>
  <section id="close_list">
    &#9650;
  </section>
  <section id="show_list">
    &#9660;
  </section>

  <div id="map_canvas">
  </div>

</section><!--facility_finder-->

<footer id="footer">
  <div class="l">
    <p>Powered by <!--iTriage--> <a class="nb" href="http://www.itriagehealth.com">iTriage</a></p>
  </div>

  <div class="r">
    <p>Showing availability for <strong>40,000+</strong> locations.</p>
  </div>
</footer>